:root {
    --light : #e5e9f4;
    --medium : #85a1df;
    --dark : #5e6db2;
    --letras : #becbe4;
    --letras-select :#3d436b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    background-color: var(--light);
}
.lista-aside {
    list-style: none;
}

header{
    border-radius: 7px;
    margin-left: 5px;
    height: 75px;
    background-color: white;
}

aside {
    width: 220px;
    height: 100vh;
    display: flex;
}

.btn-aside{
    margin-top: 10px;
    padding: 10px;
    color: var(--medium);
    background-color: white;
    border: none;
    width: 100px;
    cursor: pointer;

}

.footer {
    margin-top: 200px;

}

aside img{
    width: 150px;
}

.btn-aside:hover{
    color: var(--letras-select);

}

.search-container {
    display: flex;
    justify-content:left;
    padding: 20px 20px;
}
input[type="text"] {
    padding: 8px;
    width: 250px;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 4px;
}

.users {
    display: flex;
    justify-content: space-between;
}

.notifications {
    margin-bottom: 10px;
    cursor: pointer;
}

main img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

.card {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 8px;
    padding: 40px;
}
.card-product {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 8px;
    padding: 180px;
}

h1 {
    font-size: 20px;
}

.metric-item {
    background: white;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}

.metric-label {
    color: var(--letras-select);
    font-size: 14px;
    margin-top: 5px;
}